.modal {
  display: none; /* 關modal的關鍵 */
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 50%);
}

.modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 30px;
}
